wp-admin/
wp-includes/
readme.html
license.txt
xmlrpc.php

# wp-content/uploads/

wp-config.php
*.log
*.sql

wp-content/cache/
wp-content/w3tc-config/
wp-content/advanced-cache.php
wp-content/object-cache.php
wp-content/*-cache.php
wp-content/et/core/cache/

backup-*
*.backup
*.bak

wp-content/plugins/*
!wp-content/plugins/elementor/

wp-content/themes/*
!wp-content/themes/astra/


.htaccess
wp-cli.yml
# composer.json
composer.lock
node_modules/
package-lock.json
yarn.lock
.DS_Store
Thumbs.db
*.swp
*.swo